.container {
  height: 35px;
  margin: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container.checked {
  color: gray;
  text-decoration: line-through;
}

.container > label {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container > label > input {
  cursor: pointer;
}

.deleteIcon {
  margin-right: 10px;
}
