.todoList {
  background: rgb(251, 252, 251);
  padding: 10px;
  border: solid 0.5px black;
  border-radius: 10px;
  overflow: scroll;
  cursor: pointer;
}

.listName {
  padding: 10px;
  border-bottom: solid 0.5px black;
  font-size: larger;
  font-weight: bolder;
}

.notActiveTodos {
  border-top: solid 1px gray;
}

.done {
  padding: 15px 0px 14px 20px;
  display: flex;
  align-items: center;
}
