.todoListContainer {
  position: relative;
}
.todoList {
  height: 100%;
  width: 100%;
  background: rgb(251, 252, 251);
  padding: 20px 10px 33px 10px;
  border: solid 0.5px black;
  border-radius: 10px;
  overflow: scroll;
  cursor: pointer;
}

.listName {
  min-height: 45px;
  width: 99.4%;
  padding: 12px;
  border-bottom: solid 0.5px black;
  font-size: larger;
  font-weight: bolder;
  border-radius: 10px 10px 0px 0px;
  position: absolute;
  top: 1px;
  left: 1px;
  right: 0;
  z-index: 10;
  background: white;
}

.activeTodos {
  margin-top: 40px;
}

.notActiveTodos {
  margin-bottom: 50px;
  border-top: dashed 1px rgb(0, 0, 0);
}

.done {
  padding: 15px 0px 14px 19px;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 500px) {
  .todoListContainer {
    height: 100px;
    width: 100px;
  }
}
