.popupContainer {
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.766);
  backdrop-filter: blur(2px);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  z-index: 1000;
}
