.main {
  padding: 90px 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 90px;
  justify-content: center;
  overflow: scroll;
}

.addTodoList {
  height: 400px;
  width: 280px;
  border: solid 1px rgb(0, 0, 0);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.addTodoList.light {
  border: solid 1px var(--font-color-dark-mode);
}

.plusIcon {
  font-size: 5rem;
  cursor: pointer;
}

.plusIcon:hover {
  fill: rgb(72, 72, 72);
}
