.container {
  height: 35px;
  margin: 10px;
  padding: 0px 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container:hover {
  border-radius: 7px;
  background: var(--color-to-hover);
}

.container.checked {
  color: gray;
  text-decoration: line-through;
}

.container > label {
  height: 100%;
  width: 90%;
  padding-right: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container > label > input {
  cursor: pointer;
}

.deleteIcon {
  margin-right: 10px;
}
