.header {
  width: 100%;
  padding: 20px 35px;
  background: var(--bg-dark-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  font-size: 1.5rem;
  position: fixed;
  top: -1px;
  right: 0;
  left: 0;
  z-index: 100;
}

.header.light {
  color: var(--font-color-light-mode);
  background-color: var(--bg-light-color);
}

@media screen and (max-width: 500px) {
  .header {
    border-bottom: solid 0.5px var(--font-color-dark-mode);
    margin-bottom: 20px;
    font-size: 1rem;
  }
}
