.hamburgerMenu {
  cursor: pointer;
  font-size: 2.5rem;
  position: absolute;
  right: 14px;
  top: 15px;
}

@media screen and (max-width: 500px) {
  .hamburgerMenu {
    top: 45px;
    right: 0;
  }
}
