* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;

  min-height: 100vh;
}

::-webkit-scrollbar {
  display: none;
}

input[type="text"],
input [type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  outline: none;
}

input[type="search"]:focus {
  outline: none;
}

input[type="search"]::-webkit-search-cancel-button {
  display: none;
}

:root {
  --bg-dark-color: #282c34;
  --bg-light-color: rgb(249, 246, 239);
  --font-color-dark-mode: white;
  --font-color-light-mode: #000000;
  --color-to-hover: rgba(128, 128, 128, 0.334);
}
